<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Email: <%= email %></p>
    <p>Hasło: <%= password %></p>
  </body>
</html>
